@charset "UTF-8";
html {
    font-size: 100%;
}
body {
    font-family: 'Noto Sans JP', 'Noto Sans', sans-serif;
    color: #333;
    font-size: 0.9rem;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.7;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
}
.site-title {
    line-height: 1px;
    width: 200px;
}
.site-title a {
    display: block;
}
.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}
.sec-title .ja {
    display: block;
    color: #333;
    margin-bottom: 10px;
    font-weight: normal;
}
.sec-title .en {
    display: block;
    font-size: 0.875rem;
    color: #4b7d7b;
}
.wrapper {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 600px;
}
.btn {
    font-size: 1.35rem;
    font-weight: bold;
    background: #4b7d7b;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    display: inline-block;
    transition: all 0.5s;
}
/*header*/
#header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 10;
}
.hamburger {
    position: fixed;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #4b7d7b;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    z-index: 20;
}
.hamburger span {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    background: #fff;
    width: 20px;
    height: 2px;
    margin: 0 auto;
    border-radius: 2px;
    display: block;
    transition: all 0.5s;
}
.hamburger span:nth-child(1) {
    top: 12px;
    transition: 0.5s;
}
.hamburger span:nth-child(2) {
    top: 19px;
    opacity: 1;
    transition: 0.5s;
}
.hamburger span:nth-child(3) {
    bottom: 12px;
    transition: 0.5s;
}
.open .hamburger span:nth-child(1) {
    animation: open-top 0.5s forwards;
}
.open .hamburger span:nth-child(2) {
    opacity: 0;
}
.open .hamburger span:nth-child(3) {
    animation: open-bottom 0.5s forwards;
}
@keyframes open-top {
    0% {
        transform: rotate(0deg) translateY(0);
    }
    50% {
        transform: rotate(0deg) translateY(7px);
    }
    100% {
        transform: rotate(45deg) translate(5px, 5px);
    }
}
@keyframes open-bottom {
    0% {
        transform: rotate(0deg) translateY(0);
    }
    50% {
        transform: rotate(0deg) translateY(-7px);
    }
    100% {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}
.close.hamburger span:nth-child(1) {
    animation: close-top 0.5s forwards;
}
.close.hamburger span:nth-child(3) {
    animation: close-bottom 0.5s forwards;
}
@keyframes close-top {
    0% {
        transform: rotate(45deg) translate(5px, 5px);
    }
    50% {
        transform: rotate(0deg) translateY(7px);
    }
    100% {
        transform: rotate(0deg) translateY(0);
    }
}
@keyframes close-bottom {
    0% {
        transform: rotate(-45deg) translate(5px, -5px);
    }
    50% {
        transform: rotate(0deg) translateY(-7px);
    }
    100% {
        transform: rotate(0deg) translateY(0);
    }
}
#navi {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    text-align: center;
    background: #fff;
    opacity: 0;
    transition: all 0.5s;
}
.open #navi {
    opacity: 1;
    transition: all 0.5s;
}
.nav-menu {
    font-size: 1.125rem;
    margin-bottom: 5px;
}
.nav-menu li {
    padding: 10px;
    display: block;
    border-bottom: 1px solid #c7c7c7;
}
.nav-menu a {
    color: #333;
}
.call {
    background: #4b7d7b;
    color: #fff;
    padding: 8px;
}
.call .time {
    margin-bottom: 0;
}
/*main*/
main {
    padding-top: 100px;
    text-align: center;
}
/*mainvisual*/
#mainvisual {
    width: 100%;
    height: 300px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    background: url(../img/bg.jpg) no-repeat;
    background-position: bottom center;
    background-size: cover;
}
#mainvisual img {
    object-fit: cover;
    height: 240px;
}
/*philosophy*/
#philosophy {
    margin-bottom: 30px;
}
#philosophy .text {
    font-weight: bold;
    margin-bottom: 30px;
}
.staff {
    flex-direction: column;
}
.staff-item {
    margin-bottom: 30px;
}
.staff-item img {
    width: 200px;
}
.staff-item .job {
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #4b7d7b;
    margin-bottom: 10px;
}
/*items*/
#items {
    background: #f7f7f7;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.item-contents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item-contents li {
    width: 47%;
    margin-bottom: 20px;
    font-weight: bold;
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    filter: drop-shadow(10px 10px 10px #c7c7c7);
    border: 3px solid #fff;
    transition: all ease 1s;
}
.item-contents li:hover {
    border: 3px solid #4b7d7b;
}
.item-contents p {
    color: #333;
}
/*flow*/
#flow {
    margin-bottom: 30px;
}
.flow-list {
    flex-direction: column;
}
.flow-list li {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: 2px dotted #4b7d7b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.flow-list li::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -28px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-top: 20px solid #4b7d7b;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}
.flow-list li:last-child::after {
    display: none;
}
.flow-list img {
    width: 30%;
}
.flow-text {
    width: 65%;
}
.item-title {
    margin-bottom: 10px;
}
.item-title .number {
    font-size: 0.875rem;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #4b7d7b;
    color: #4b7d7b;
    display: block;
}
.item-title .title {
    display: block;
}
.flow-text p {
    font-size: 0.875rem;
}
/*contact*/
#contact {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f7f7f7;
}
#contact p {
    margin-bottom: 20px;
}
.tell {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.time {
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 30px;
}
/*footer*/
#footer {
    padding-top: 30px;
    text-align: center;
}
#footer .footer-title {
    margin-bottom: 20px;
}
.link-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.link-list li {
    width: 49%;
    font-size: 1.0rem;
    background: #4b7d7b;
    padding: 8px 0;
    margin-bottom: 5px;
    border-radius: 5px;
}
.link-list a {
    color: #fff;
    display: block;
    transition: all 0.5s;
}
.link-list a:hover {
    color: #4b7d7b;
}
.footer-item {
    padding-bottom: 30px;
    font-size: 1.125rem;
}
.copyright {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #4b7d7b;
    color: #fff;
}
@media screen and (min-width: 640px){
    
}